/* jost-regular - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/jost-v6-latin-regular.woff2") format("woff2"), url("../fonts/jost-v6-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/jost-v6-latin-500.woff2") format("woff2"), url("../fonts/jost-v6-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Jost, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1151px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.header__container {
  padding: 50px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__list {
  list-style-type: none;
  padding: 0;
}

.header__nav__item:first-child a {
  padding-left: 0;
}

.header__nav__item:last-child a {
  padding-right: 0;
}

.header__nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
  padding: 21px;
}

.header__img-wrapper {
  position: relative;
  padding: 0;
  padding-left: 42.7px;
}

.header__img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: conic-gradient(from 0deg at 50% 50%, #E7816B 0deg, rgba(231, 129, 107, 0.0001) 359.74deg, rgba(231, 129, 107, 0.0001) 360deg);
}

.hero {
  color: #fff;
  margin-bottom: 160px;
}

.hero__container {
  position: relative;
  background-color: #E7816B;
  padding: 145px 476px 161px 95px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.hero__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 42.5%;
  width: 640px;
  height: 640px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  mix-blend-mode: normal;
  border-radius: 50%;
  opacity: 0.31;
}

.hero__info-text {
  z-index: 2;
}

.hero__heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  max-width: 540px;
  margin-bottom: 32px;
  z-index: 2;
}

.hero__text {
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  margin: 0;
  margin-bottom: 58px;
}

.hero__link {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 18px 25px 16px 24px;
  text-decoration: none;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
}

.hero__link:hover {
  background-color: #FFAD9B;
  color: #FFFFFF;
}

.hero__img-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.we-can-do {
  margin-bottom: 160px;
}

.we-can-do__right-side {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we-can-do__right-side img {
  margin: 12px;
  margin-right: 0;
}

.we-can-do__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we-can-do__container a {
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.we-can-do__container a img {
  border-radius: 15px;
}

.we-can-do__container a div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 100%;
}

.we-can-do__container a div > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.we-can-do__container a div > p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

.we-can-do__container a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E7816B;
  border-radius: 15px;
  opacity: 0.8;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.we-can-do__container a:hover::before {
  display: block;
}

.we-can-do__right-side a::before {
  width: calc(100% - 12px);
  height: calc(100% - 12px*2);
  top: 12px;
  left: 12px;
}

.our-company {
  margin-bottom: 380px;
}

.our-company__list {
  list-style-type: none;
  text-align: center;
  color: #333136;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.our-company__item + .our-company__item {
  padding-left: 30px;
}

.our-company__img-wrapper img {
  margin-bottom: 48px;
}

.our-company__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 32px;
}

.our-company__text {
  font-size: 16px;
  line-height: 26px;
}

.your-project {
  color: #fff;
}

.your-project__wrapper {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.your-project__container {
  padding: 72px 96px 46px 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./../../images/your-project/background.png);
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  width: 100%;
}

.your-project__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  max-width: 268px;
}

.your-project__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  max-width: 460px;
}

.your-project__link {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 18px 25px 16px 24px;
  text-decoration: none;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
}

.your-project__link:hover {
  background-color: #FFAD9B;
  color: #FFFFFF;
}

.footer {
  background-color: #1D1C1E;
  padding-top: 144px;
}

.footer .footer-top {
  margin-bottom: 72px;
}

.footer .footer-top__container {
  padding: 50px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-top__nav__list {
  list-style-type: none;
  padding: 0;
}

.footer .footer-top__nav__item:first-child a {
  padding-left: 0;
}

.footer .footer-top__nav__item:last-child a {
  padding-right: 0;
}

.footer .footer-top__nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 21px;
}

.footer .footer-top__img-wrapper {
  position: relative;
  padding: 0;
  padding-left: 42.7px;
}

.footer .footer-top__img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: conic-gradient(from 0deg at 50% 50%, #E7816B 0deg, rgba(231, 129, 107, 0.0001) 359.74deg, rgba(231, 129, 107, 0.0001) 360deg);
}

.footer .footer-bottom__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .footer-bottom__info-wrapper {
  font-style: normal;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer .footer-bottom__address {
  margin-right: 205px;
}

.footer .footer-bottom__address-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.footer .footer-bottom__address-text, .footer .footer-bottom__contact-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.footer .footer-bottom__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.footer .footer-bottom__item a {
  padding: 8px;
}
/*# sourceMappingURL=main.css.map */