.our-company {
    margin-bottom: 380px;

    &__container {
        position: relative;
        &::before {
            content: url(./../../images/our-company/Rectangle\ Copy\ 4.svg);
            width: 1006px;
            height: 594px;
            position: absolute;
            top: 10%;
            right: -5%;
            z-index: -1;
            display: block;

        }
    }

    &__list {
        list-style-type: none;
        text-align: center;
        color: $dark-grey;
        justify-content: space-between;
        padding: 0;
    }

    &__item + &__item {
        padding-left: 30px;
    }

    &__img-wrapper {
        img {
            margin-bottom: 48px;
        }
    }

    &__heading {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
    }


}