.our-company {
    margin-bottom: 380px;

    &__list {
        list-style-type: none;
        text-align: center;
        color: $dark-grey;
        justify-content: space-between;
        padding: 0;
    }

    &__item + &__item {
        padding-left: 30px;
    }

    &__img-wrapper {
        img {
            margin-bottom: 48px;
        }
    }

    &__heading {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
    }


}